In [10]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda person:person.split()[0]+' '+person.split()[-1])(person))

#option 2
# list(map(split_title_and_name, people)) == list(map(???))
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [6]:
l = (lambda person:person.split()[0]+' '+person.split()[-1])

In [7]:
l(people[0])

'Dr. Brooks'

In [18]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

# times_tables()
# [i*j for i  in range(10) for j in range(10)]

times_tables() == [i*j for i  in range(10) for j in range(10)]

True